/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap'); */
/* font-family: 'Josefin Sans', sans-serif; */

/*Especifica meu rem, a fonte principal e algumas variaveis usadas para fazer a alteração do ligth e dark mode*/
:root{
    font-size: 10px;
    font-family: 'Josefin Sans', sans-serif;
    /*retira scroll bar da horizontal*/
    overflow-x: hidden; 
    /*imagens de background*/
    --darkBackgroundMobile: url("../img/bg-mobile-dark.jpg");
    --lightBackgroundMobile: url("../img/bg-mobile-light.jpg");
    --darkBackgroundDesktop: url("../img/bg-desktop-dark.jpg");
    --lightBackgroundDesktop: url("../img/bg-desktop-light.jpg");
    /*cores de background*/
    --darkBackgroundColor: hsl(235, 21%, 11%);
    --lightBackgroundColor: hsl(236, 33%, 92%);
    /*cores de box e input*/
    --darkTodoBox: hsl(235, 24%, 19%);
    --ligthTodoBox: hsl(0, 0%, 98%);
    /*cores de texto do input -- criando todo*/
    --darkTodoBoxTextCreating: hsl(234, 11%, 52%);
    --ligthTodoBoxTextCreating: hsl(237, 14%, 26%);
    /*cores de texto do paragrafo -- todo criado*/
    --darkTodoBoxTextCreated: hsl(234, 39%, 85%);
    --ligthTodoBoxTextCreated: ??;
    /*cores de texto das ifnformações dos todo`s*/
    --darkInfBoxText: hsl(233, 14%, 35%);
    --ligthInfBoxText: ;
    --hoverInfBoxText: hsl(220, 98%, 61%);
    --activeInfBoxText: hsl(220, 89%, 71%);
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--darkBackgroundMobile);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: var(--darkBackgroundColor);
}

.box-main{
    width: 85vw;
    padding-top: 13.3vmin;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    font-size: 2.6rem;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    margin-bottom: 3rem;
}

.createTodo{
    max-width: 100em;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1.2rem;
    background-color:  var(--darkTodoBox);
    border-radius: 0.4rem;
}

/*Estiliza o circulo check quando esta inativo*/
.circle{
    min-width: 1.5rem;
    min-height: 1.5rem;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid hsl(237, 14%, 26%);
    cursor: pointer;
}

/*Estiliza o circulo check quando esta ativo*/
.circleAtvio{
    min-width: 1.5rem;
    min-height: 1.5rem;
    border-radius: 50%;
    box-sizing: border-box;
    border: none;
    background: linear-gradient(135deg, hsla(192, 100%, 67%, 1) 0%, hsla(280, 87%, 65%, 1) 100%);
    background-image: url(../img/icon-check.svg),
                      linear-gradient(135deg, hsla(192, 100%, 67%, 1) 0%, hsla(280, 87%, 65%, 1) 100%);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

input[type="text"]{
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--darkTodoBox);
    color: var(--darkTodoBoxTextCreating);
    font-size: 1.7rem;
}

input[type="text"]::placeholder{
    color: var(--darkTodoBoxTextCreating);
}

.boxTodo{
    max-width: 100em;
    padding: 10vmin 0 5vmin 0;
    box-sizing: border-box;
}

.newTodo{
    max-width: 100em;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1.2rem;
    background-color:  var(--darkTodoBox);
    font-size: 1.7rem;
    color: var(--darkTodoBoxTextCreated);
    border-bottom: 1px solid hsl(237, 14%, 26%);
}

#div1{
    border-radius: 0.4rem 0.4rem 0 0;
}

/*box´s do final todas diplay none, aparecerão quando algum novo todo ser criado*/
.infTodoMobile{
    display: none;
    max-width: 100em;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1.2rem;
    background-color:  var(--darkTodoBox);
    border-radius: 0 0 0.4rem 0.4rem;
    color: var(--darkInfBoxText);
    font-size: 1.1rem;
    font-weight: 700;
}

.infTodoMobile > p:hover{
    cursor: default;
}
.infTodoMobile p + p:hover{
    cursor: pointer; 
    color: var(--hoverInfBoxText);
}
.infTodoMobile p + p:active{
    cursor: pointer; 
    color: var(--activeInfBoxText);
}

.selectTodoMobile{
    display: none;
    max-width: 100em;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: 2rem;
    gap: 1.2rem;
    background-color:  var(--darkTodoBox);
    border-radius: 0.4rem;
    color: var(--darkInfBoxText);
    font-size: 1.1rem;
    font-weight: 700;
}

.selectTodoMobile > p:hover{
    cursor: pointer; 
    color: var(--hoverInfBoxText);
}
.selectTodoMobile > p:active{
    cursor: pointer; 
    color: var(--activeInfBoxText);
}


.infTodoDesktop{
    display: none;
    max-width: 100em;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1.2rem;
    background-color:  var(--darkTodoBox);
    border-radius: 0 0 0.4rem 0.4rem;
    color: var(--darkInfBoxText);
    font-size: 1.1rem;
    font-weight: 700;
}

.numberTodoItems:hover{
    cursor: default;
}

.selectTodoDesktop{
    display: flex;
    gap: 1rem;
}

.selectTodoDesktop:hover{
    cursor: pointer; 
}

.selectTodoDesktop > .selectAll:hover,.selectActive:hover,.selectCompleted:hover{
    color: var(--hoverInfBoxText);
}
.selectTodoDesktop > .selectAll:active,.selectActive:active,.selectCompleted:active{
    color: var(--activeInfBoxText);
}

.clearCompletedTodo:hover{
    cursor: pointer; 
    color: var(--hoverInfBoxText);
}
.clearCompletedTodo:active{
    cursor: pointer; 
    color: var(--activeInfBoxText);
}
/*----------------------------------*/

@media (width >= 600px){

    body{
        background-image: var(--darkBackgroundDesktop);
    }

    .box-main{  
        padding-top: 3.3vmin;
    }

}

@media (width >= 650px){

    .box-main{
        width: 552.5px;
        
    }

}